.prob-progress-bar{
background-color: #4c4c4c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.bottom-progress{
    position: relative;
}
.bottom-progress .dark-progress-bar{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: gray;
}
.next-button{
    width: 150px;
    height: 40px;
    margin: 30px 0;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
.incorrect-progress-bar{
    background-color: #b4b2b2;
}
.scores-wrap{
    display: flex;
    justify-content: space-between;
}
